<div class="container">
	<nav
		class="navbar navbar-expand-lg navbar-light shadow shadow-bottom p-3 mb-5 bg-white rounded">
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link"
					ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</nav>
	<div class="row justify-content-center mt-5">
		<div class="col-6">
			<form name='f' method='POST'>
				<label>Naziv rada:</label>
				<h3>{{rad.naziv}}</h3>
				<label>Apstrakt:</label>
				<h3>{{rad.apstrakt}}</h3>
				<label>Naucna oblast:</label>
				<h3>{{rad.naucnaOblast}}</h3>
				<label>Kljucne reci:</label>
				<h3>{{rad.kljucneReci}}</h3>
				<input class="btn btn-primary btn-block"
					ng-click="proveraRada(true)" value="Prihvati"></input>
				<p class="text-center">
					<a ng-click="proveraRada(false)" class="btn">Odbij rad</a>
				</p>
			</form>
		</div>
	</div>
</div>