<div class="container">
	<div class="row justify-content-center mt-5">
		<div class="col-6">
			<form name='f' method='POST' ng-submit="submit()">
				<h1 class="text-center" style="height: 70px;">Prijavi se</h1>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Username</span>
					</div>
					<input type="text" ng-model="korisnikDTO.username" name="Username"
						class="form-control" aria-label="Default"
						aria-describedby="inputGroup-sizing-default">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="inputGroup-sizing-default">Password</span>
					</div>
					<input type="password" ng-model="korisnikDTO.password"
						name="Password" class="form-control" aria-label="Default"
						aria-describedby="inputGroup-sizing-default">
				</div>

				<input class="btn btn-primary btn-block mt-5" type="submit"
					value="Prijavi se"></input>
				<p class="text-center">
					<a ng-click="toRegister()" class="btn">Registrujte se ako
						nemate nalog</a>
				</p>
			</form>
		</div>
	</div>
</div>